html, body, #react-app {
	height: 100%;
}

#newQuoteBtn:focus, #twitterBtn:active {
	outline: 0;
	box-shadow: none;
}

#newQuoteBtn, #twitterBtn {
	border-radius: 2.5px;
	height: 35px;
}

#quote-container, #twitterBtn, #newQuoteBtn {
	transition: background-color 500ms linear;
}

#quote {
	transition: color 500ms linear;
}