html, body, #react-app {
	height: 100%;
}

#newQuoteBtn:focus, #twitterBtn:active {
	outline: 0;
	box-shadow: none;
}

#newQuoteBtn, #twitterBtn {
	border-radius: 2.5px;
	height: 35px;
}

#app-background, #twitterBtn, #newQuoteBtn {
	transition: background-color 1s linear;
}

#quote {
	transition: color 1s linear;
}

.to-fade {
	transition: opacity 1s linear;
}